@import url('https://fonts.googleapis.com/css?family=Roboto:100,200,300,400,500,600,700|Exo:100,200,300,400,500,600,700');

/*==============================Colors*/

.contact-us-background-color{
    background-color: #fff53d;
    margin-top: 79px;
}

.ui-menu-color-home {
    background-color: #c13416;
}

.ui-menu-color-history{
    background-color: #c13416;
}

.ui-menu-color-contact-us{
    background-color: #c13416;
}

.ui-menu-color-examples{
    background-color: #c13416;
}

.footer-background-color{
    background-color:#c13416;
}

.footer-color-social{
    color:#ffffff;
}

.footer-color-about{
    color:#ffffff;
}

/*==============================background images*/

body, html {
    height: 100%;
    margin: 0;
}

.index-background-image{
    background-image: url("../images/index-image.jpg");
    height: 100%; 
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    margin-top:80px;
}

.history-background-image{
    background-image: url("../images/history-image.jpg");
    height: 100%; 
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    margin-top:80px;
}

.examples-background-image{
    background-image: url("../images/examples-image.jpg");
    height: 100%; 
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    margin-top:80px;
}


/*==============================special paddings, margins, text*/

h1,
h2,
h3,
h4{
    margin:0;
    padding:0;
}

.uppercase{
    text-transform: uppercase;
}




/*==============================Header*/

header{
    margin: 0;
}


.heading{
    margin-left: 50px;
}

#nav{
    margin: 0;
    position: fixed;
    width:100%;
    top:0;
}

#nav li{
    padding: 0;
}

.menuitem{
    height:80px;
    text-align: center;
    padding:0;
    
}

.menuitem a{
    width: 100%;
    text-decoration: none;
    color: #ffffff;
    height: 80px;
}

.menuitem a i{
    padding-top: 22px;
    display: block;
    color: #fafafa;
    font-size: 20px;
}

.menuitem span{
    display: block;
    width: 100%;
    padding-top: 3px;
    text-align: center;
    text-transform: uppercase;
    font-size: 14px;
    font-weight: 300;
    letter-spacing: 2px;
}

/*==============================hover.css*/

.hvr-sweep-to-bottom:before{
    background: rgba(0,0,0,0.2);
    height: 80px;
}